.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
}

.background-shape {
  z-index: 9;
  position: absolute;
  /* background: linear-gradient(135deg, rgba(14, 27, 46, 1), rgba(30, 26, 56, 1)); */
  background-color: rgba(232, 232, 231,0.2);
  border-radius: 50%;
  filter: blur(60px);
}