.welcome-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(128, 0, 128, 0.1), rgba(128, 0, 128, 0.05));
  overflow: hidden;
}

.welcome-content {
  z-index: 10;
  text-align: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.welcome-heading {
  color: purple;
  font-size: 3rem;
  margin-bottom: 30px;
}

.onboard-button {
  background-color: #7553a6;
  color: #f4f4f4;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.onboard-button:hover {
  background-color: #563c82;
}
