body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  background-color: rgba(16, 21, 29, 1);
}

.App {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  /* scrollbar-color: purple rgba(128, 0, 128, 0.1); */
}

body,
.App,
.welcome-heading,
.messages-container .message,
.input-container input,
.input-container button {
  color: #f4f4f4;
}